@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #168ba0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e6a7a;
} 

/* ############## utility classes ###################  */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.7em 2em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font: 500;
}
.btn-primary {
  color: #fff;
  background-color: #168ba0;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0e6f72;
}
/*############################ navbar styling ##############################################*/

/* for desktop */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  /* box-shadow: 0 5px 10px 0 #aaa; */
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.90;
  z-index: 999;
}
.logo {
  font-size: 2.8rem;
  order: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.navbar .menu-items li {
  list-style: none;
  margin-left: 1.5rem;
}
.navbar .menu-items {
  display: flex;
  order: 2;
  font-size: 1.5rem;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #168ba0;
}

/* ############ showcase ###################### */

.showcase-area {
  height: 100vh;
  background: 
    url(./imgs/david-clode-nyvR6wbU1ho-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.showcase-container {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  height: 100%;
  flex-direction: column;
  font-size: 1.6rem;
  /* border: 2px solid red; */
}
.main-title {
  text-transform: uppercase;
}

/* ################# about us ####################### */

#about-us {
  padding: 10rem 0px;
  background-color: #f5f5f7;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
#about-us .about-container span {
  font-weight: 700;
  font-size: 1.6rem;
  color: #666;
}

.about-text h2 {
  font-size: 3.2rem;
}

.about-text p {
  font-size: 1.6rem;
  color: #555;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
}


.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  object-position: right;
  border-radius: 5px;
}

/*  */

#goals{

    background-color: rgba(235, 235, 235, 0.755);
}

#goals h1{
  text-align: center;
  padding: 6rem 0;
  font-size: 4rem;
  color: #333;
}

#goals h1::before{
  content: ">>";
  padding-right: 10px;
  /* border: 2px solid red; */
}
#goals h1::after{
  content: "<<";
  padding-left: 10px;
  /* border: 2px solid red; */
}

.box p {
  color: rgb(42, 42, 42);
  font-size: 1.4rem;
  padding-bottom: 6px;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px rgba(189, 189, 189, 0.889);
  padding: 30px;
  margin: 20px;  
}

.cyan {
  border-top: 3px solid rgb(0, 0, 128);
}
.red {
  border-top: 3px solid rgb(0, 125, 0);
}
.blue {
  border-top: 3px solid orange;
}
.orange {
  border-top: 3px solid rgb(255, 50, 84);
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 6px;
}


@media (min-width: 950px) {
  .goals-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .goals2-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 8rem;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
  
}

/* ##################### .contact-us ################### */

#contact {
  padding: 14rem 0;
  background-color: rgb(226, 226, 226);
}

.contact-container {
  display: flex;
  background: #fff;
  /* border: 5px solid orangered; */
}

.contact-img {
  width: 50%;
  /* border: 5px solid blue; */
}
.contact-img img {
  display: block;
  height: 410px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.form-container {
  /* border: 5px solid green; */
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  outline: none;
}

.form-container h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #444;
  margin: 1rem;
}

.form-container a {
  font-size: 1.2rem;
}




/* ####################### footer ######################### */

footer {
  background-color: #444;
}

footer h2 {
  font-weight: 500;
  color: #fff;
  padding: 3rem;
  text-align: center;
  font-size: 1.6rem;
}

/* float btn */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; 
  border: none; 
  outline: none; 
  transition: all 0.4s ease-in-out;
  background-color: #168ba0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

#myBtn:hover {
  background-color:#0e6a7a;
}
i{
  transition: all 0.4s ease-in-out;
}

#myBtn:hover i{
  transform: rotate(360deg);
}


/* ############# media queries ############### */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 25px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: all 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: all 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background-color: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding: 50px;
    transition: transform 0.4s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li:first-child{
    margin-top: 35px;
  }
  .navbar .menu-items li {
    /* display: none; */
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0%);
  }
  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(40deg);
  }
  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-40deg);
  }

  .img-container {
    margin: 0%;
  }
}

  

/* ########### small screen ############ */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .form-container{
    width: 90%;
  }
  .contact-container {
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .main-title{
    font-size: 4.5rem;
  }
  
  .main-title ~p{
    font-size: 2.1rem;
  }
}



/* ######## landscape mode ########### */

@media (orientation: landscape) and (max-width: 500px) {
  .showcase-area {
    height: 70vh;
  }
}
