.payment-container {
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(237, 237, 237);
  width: 100%;
  /* margin: 0%; */
}

.paymenthead {
  height: 55px;
  background-color: rgb(0, 0, 0);
  color: rgb(241, 241, 241);
  margin: auto;
  border-radius: 5px;
  /* border: 2px solid red; */
  margin-bottom: 2rem;
}

.paymenthead h2 {
  padding: 10px;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
}

.paymentform {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.paymentform div {
  width: 100%;
  text-align: center;
}

.paymentform div input,
.paymentform div select {
  width: 90%;
  text-align: center;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.468);
}

.paymentform div:nth-child(1) input {
  width: 100%;
}

.paymentform div:nth-child(2) {
  text-align: right;
  width: 40%;
}

.btn-container {
  text-align: center;
}

.btn-container a {
  padding: 13px 20px;
  margin: 10px;
  margin-top: 30px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
}

.btn-container {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(61, 61, 61);
}

.payment-container button {
  margin: 10px;
  background-color: rgb(164, 156, 46);
  color: #fff;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
}

.payment-container button:hover {
  margin: 10px;
  background-color: rgb(122, 114, 0);
  color: #fff;
}

.btn-container a:nth-child(1) {
  background-color: rgb(188, 0, 0);
}

.btn-container a:nth-child(1):hover {
  background-color: rgb(135, 0, 0);
}

.btn-container a:nth-child(2) {
  background-color: rgb(62, 62, 62);
}

.btn-container a:nth-child(2):hover {
  background-color: rgb(0, 78, 0);
}

main ul {
  /* border: 2px solid red; */
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

main li {
  width: 40%;
  margin: 10px;
  font-size: 1.3rem;
}

main li span {
  padding: 7px;
  background-color: rgba(27, 82, 0, 0.84);
  border-radius: 5px;
  color: #fff;
}

/* modal */

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.53);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 1.4rem;
}
.modal-window.window2 h2{
    text-align: center;
}

.modal-window.window2 img{
    display: block;
    width: 140px;
    margin: 20px auto;
}
.modal-window.window2 h2+a{
    width: fit-content;
    display: block;
    margin:2rem auto;
    font-size: 1.4rem;
    text-transform: none;
    background-color: rgb(79, 79, 79);
}
.modal-window.window2 h2+a:hover{
    background-color: rgb(63, 63, 63);
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}
.modal-window > div {
  border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

/* gateway */

.gateway-container {
  margin-top: 10px;
  background: rgb(255, 255, 255);
  max-width: 420px;
  padding: 0.5rem 1.5rem;
}

.gateway-container form {
  padding: 1rem;
}

.gateway-container h3 {
  margin-top: 1rem;
  color: #2c3e50;
}

.gateway-container form input[type="text"] {
  width: 100%;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem 0;
  outline: none;
}

.gateway-container #zip {
  display: flex;
  margin-top: 0.5rem;
}
.gateway-container #zip select {
  padding: 0.5rem 0.7rem;
}
.gateway-container #zip input[type="number"] {
  padding: 0.5rem 0.7rem;
  margin-left: 5px;
}
.gateway-container #Pay {
  display: block;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 0.7rem 1.5rem;
  background: #007d3c;
  color: white;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  font-size: 1.7rem;
  text-decoration: none;
}

.gateway-container #Pay:hover {
  background: #005620;
}
