@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #168ba0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e6a7a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ############## utility classes ###################  */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.7em 2em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-primary {
  color: #fff;
  background-color: #168ba0;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0e6f72;
}
/*############################ navbar styling ##############################################*/

/* for desktop */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  /* box-shadow: 0 5px 10px 0 #aaa; */
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  z-index: 999;
  top: 0;
}
.logo {
  font-size: 2.8rem;
  order: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.navbar .menu-items li {
  list-style: none;
  margin-left: 2.4rem;
}
.navbar .menu-items {
  display: flex;
  order: 2;
  font-size: 1.5rem;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #168ba0;
}

/* ############ showcase ###################### */

.showcase-area {
  height: 570px;
  background: linear-gradient(rgba(36, 36, 36, 0.26), rgba(0, 0, 0, 0.336)),
    url("../imgs/safari-booking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  font-size: 3rem;
  color: rgb(233, 233, 233);
}

.main-title {
  font-weight: 500;
}

.showcase-area .btn-primary{
  font-size: 1.2rem;
  padding: 15px 20px;
}

/* ################### Intro ######################### */

.intro {
  background-color: rgba(222, 222, 222, 0.247);
}

.intro .intro-container h1 {
  text-align: center;
  font-size: 3.2rem;
  padding: 6rem 0 3rem 0;
}

.intro .intro-container p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

/* tables section */

#tables{
  background-color: rgba(187, 187, 187, 0.115);
  padding: 3rem 0;
}

.tables-container {
  display: flex;
  justify-content: space-between;
}

.tables-container h3 {
  font-size: 2rem;
  font-weight: 500;
  padding: 30px 0 20px 0;
  text-align: center;
}

.tables-container .jeep-safari {
  /* border: 2px solid red; */
  width: 48%;
}
.tables-container .canter-safari {
  /* border: 2px solid red; */
  width: 48%;
}

.tables-container table {
  width: 100%;
}

.tables-container table,
th,
td {
  border: 2px solid rgb(67, 67, 67);
  border-collapse: collapse;
  padding: 12px;
  font-size: 1.4rem;
}

/* ############## bookform ################## */

#bookform{
  margin: 8rem;
}

#bookform form {
  border: 2px solid rgb(69, 69, 69);
  text-align: center;
  width: 700px;
  margin: 4rem auto;
  padding: 25px;
}

#bookform form h1{
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

#bookform form div {
  margin-bottom: 1.4rem;
  width: 100%;
}

#bookform form label {
  font-size: 1.4rem;
}

#bookform form input {
  outline: none;
  border: 1px solid black;
  padding: 10px;
  font-size: 1.4rem;
  width: 100%;
}

#bookform form .dates {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookform form .dates label{
  width: 20%;
}
#bookform form .dates input{
  width: 80%;
}
#bookform form .shiftname {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bookform form .shiftname div:nth-child(1){
  width: 48%;
}
#bookform form .shiftname div:nth-child(2){
  width: 48%;
}
#bookform form .numemail {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookform form .numemail div:nth-child(1){
  width: 48%;
}
#bookform form .numemail div:nth-child(2){
  width: 48%;
}

#bookform form select {
  font-size: 1.4rem;
  padding: 8px;
  width: 100%;
}

#bookform form button {
  display: block;
  margin: auto;
}


/* ############# booking instructions ############## */

#bookinstructions{
  padding: 5rem 0;
  background-color: rgba(181, 181, 181, 0.116);
}

.Bookingintructions{
  padding: 55px 15px 30px;
  background: #fafafa;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  position: relative;
  margin-top: 30px;
  font-size: 1.5rem;
}

.Bookingintructions-span {
  position: absolute;
  top: -15px;
  left: 15px;
  background: #f2f8ff;
  padding: 8px 17px;
  border: 1px solid #c7c7c7;
  font-size: 18px;
  line-height: 18px;
  color: #333;
  font-weight: 500;
  border-radius: 5px;
  right: 15px;
}

.Bookingintructions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.Bookingintructions li{
  margin-bottom: 14px;
}


/* float btn */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  transition: all 0.4s ease-in-out;
  background-color: #168ba0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

#myBtn:hover {
  background-color: #0e6a7a;
}
i {
  transition: all 0.4s ease-in-out;
}

#myBtn:hover i {
  transform: rotate(360deg);
}

/* ############# media queries ############### */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 25px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: all 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: all 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background-color: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding: 50px;
    transition: transform 0.4s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li:first-child {
    margin-top: 35px;
  }
  .navbar .menu-items li {
    /* display: none; */
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0%);
  }
  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(40deg);
  }
  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-40deg);
  }

  .footer {
    text-align: center;
  }

  .footer .fbox-container .fbox {
    margin-right: 0;
  }

  .footer .fbox-container .fbox .share {
    margin: 2rem 0;
  }

  .footer .fbox-container .fbox h3 {
    margin-top: 5rem;
  }

  .footer .fbox-container {
    flex-direction: column;
  }

  .footer .fbox-container .fbox:nth-child(1) {
    width: 100%;
  }
}
